.cabezal{
    width: 100%;
    background-color: rgb(252, 154, 7);
    border: 4px solid green;
    text-align: center;
    color:rgb(192, 36, 36);
    font-weight: bold;
}
.titulo{
    text-align:center;
    color:red
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Contenedorfoto{
    width:50vw;
    height:50vh;
    border:2px black;
    border-style: solid;
    margin-top:10px;
    margin-left:0px;
    float:left;
    box-sizing:border-box;
    overflow: hidden;
    padding: 5px;
}
.foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
b{
    color:rgb(0, 197, 0);
    font-style: italic;
    font-weight: normal;
}
a{
    text-decoration: underline rgb(0, 197, 0);
    font-style: italic;
    color:rgb(0, 197, 0);
}