body{
    background-image: url('fondo.png');
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: rgb(85, 113, 146);
    border-radius: 5px;
    height: 80px;
    width:130px;
    color:white;
    text-align: center;
    margin: 10px;
    display: inline-block;
}
.div2{
    display:none;
}
.div3{
    display:none;
}