.cabecera{
    border: 15px green;
    border-style: double;
    padding-top: 5px;
    position:relative;
    margin-top: 25px;
    color:blue;
    text-align: center;
    font-size: 40px;
    font-weight:bold;
}
.Contenedorfoto{
    border: 2px green solid;
    position:absolute;
    margin-left:30px;
    margin-top: 25px;
    padding:px;
    border-radius: 30px;
    width: 250px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto{
    height: 300px;
    position: relative;
    
}