th{
    font-weight: bold;
    background-color: rgb(201, 201, 201);
    padding: 5px;
    border-collapse: collapse;
}
.patio{
        background-color: rgb(181, 238, 134);
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
table{
    margin: auto;
    border-collapse: collapse;
}
td{
    padding: 5px;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
    
}
.titulo{
    color: dodgerblue;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.blanco{
    background-color: white;
}
.horas{
    font-weight: bold;
    text-align: center;
}
.dias{
    font-weight: bold;
    text-align: center;
}
.NoBorde{
    border-bottom: none;
    border-top:none;
}