@font-face {
    font-family:Segoe;
    src: url(Fuentes/segoeprint.ttf);
}
legend{
    opacity: 50%;
    color: blue;
    font-weight: bold;
    size:1.5em;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(179,229,255);
}
fieldset{
    background-color: ivory;
}
textarea{
    background-color: yellow ;
}
input{
    background-color: yellow;
}
.general{
    position:relative;
    height:200px;
}
.gris{
    background-color: lightgray;
}
.cabecera{
    size: 3em;
    color: darkblue;
    font-family:Segoe;
    text-align: center;
    margin-bottom: 40px;
}
.equipo{
    position: absolute;
    left: 1%;
}
.jugador{
    position: absolute;
    padding: 5px;
    left: 33%;
    border: 2px solid black;
    border-radius: 10%;
}
.aficiones{
    position: absolute;
    left: 66%;
    border: 2px solid black;
    border-radius: 10%;
}
.leyenda{
    font-style: italic;
}
.boton1{
    position: relative;
    text-align: center;
    display: inline-block;
    left: 30%;
}
.boton{
    position: relative;
    text-align: center;
    display: inline-block;
    left: 30%;
    margin-left: 20px;
}

