.div{
    background-color: lightblue;
    border: 2px solid black;
    padding-left: 40px;
    height: fit-content;
}
.lista{
    position: relative;
    width:fit-content;
    height: fit-content;
}
.listaTitulo{
    font-family: Arial, Helvetica, sans-serif;
    color: firebrick;
    list-style-type: circle;
    font-size: 20px;
    position: relative;
    width: 280px;
    height: 240px;
    left: 30px;
    top: 20px;
}
.listaContenido{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: square;
    position: absolute;
    bottom: 100px;
    right: 70px;
    color: black;
    font-size: 15px;
    width: 200px;
    height: fit-content;
}
